<!-- <button (click)='clickAfterPrint()'>{{title}} <-당신이 입력한 변수 title </button>
<div *ngFor="let item of showArray">{{item}}</div>
<br>
<br> -->



<!-- <app-hello></app-hello>
<br>
<app-world *ngif="visible"></app-world> -->

<div  *ngIf="visible">
  <div>Wellocome</div>
  <input type="text" placeholder="id" [(ngModel)]="id"/>
  <input type="text" placeholder="password"  [(ngModel)]="pwd"/>
  <button (click)='tryToLogin()'>Login</button>
</div>


<app-hello *ngIf="visible1"></app-hello>
<br>
<app-world *ngIf="visible2"></app-world>